.old{
    background-color: gold;
    position:absolute;
    width:50px;
    height:50px;
    top:200px;
    left:20px;
}
.notColor{
    background-color: red;
    width:70px;
    height:70px;
    top:190px;
    z-index: -1;
    visibility: hidden;
}
.newColor{
    background-color: rgb(124, 192, 23);
}
.leftright{
    background-color: blue;
    width:70px;
    height:70px;
    top:190px;
    z-index: -3;
    visibility: hidden;
}
#d2{
    left:100px;
}
#d3{
    left:180px;
}
#d4{
    left:260px;
}
#d5{
    left:340px;
}
#d6{
    left:420px;
}
#d7{
    left:500px;
}
#d8{
    left:580px;
}
#d9{
    left:660px;
}
#d10{
    left:740px;
}
#d11{
    left:820px;
}
#d12{
    left: 900px;
}
#d13{
    left: 980px;
}
#d14{
    left: 1060px;
}